:root {
	--background-color1: #303030;
	--text-color1: #f5e7f3;
	--text-link-color: yellow;

	--code-block-background-color: #a3cfcd;
	--code-inline-background-color: #ffe3f1;
	--code-text-color: red;
}


* {
	box-sizing: border-box;
}

html{
	font-size: 16px;
}


body {
	border: 5px solid black;
	display: flex;
	position: static;
	font-family: sans-serif;
	background-color: var(--background-color1);
	color: var(--text-color1);
}


/* Style the Navigation Bar */
.navbar-wrap {
	/*empty for now*/
}


nav .scroll-content {
	/*border: 1px solid red;*/
	height: 100vh;
	/*Adding scroll bar to my navigation element*/
	/*
	overflow: hidden;
	overflow: scroll;
	*/
	overflow: auto;
	color: inherit;
}

nav {
	/*border: 5px solid green;*/
	min-width: 400px;
	flex-shrink: 0;
	position: sticky;
	top: 0;
	left: 0;



}



nav header {
	/*border: 1px solid red;*/
	border-bottom: 1px solid black;
	height: 80px;
	font-size: 1.2rem;
	padding-top: 25px;
	padding-left: 0;
	font-weight: bold;
}

nav a {
	display: block;
	border-bottom: 1px solid black;
	height: 40px;
	padding-top: 10px;
	/*vertical-align: middle;*/
	color: black;
	text-decoration: none;
	color: inherit;


}




/*Style the main content*/

main {
	border: 5px solid black;
	padding-top: 1rem;
	padding-bottom: 2rem;
	padding-left: 2rem;
	padding-right: 1rem;
}

main header {
	font-size: 2rem;
	padding: 1rem 0;
}


main section header ~ * {
	padding-left: 2rem;

}


main section ul {
	padding-left: 6rem;
}



/*Style code blocks*/
section p code, section ul code {
	display: inline;
	/*border: 5px solid green;*/
	border: revert;
	background-color: var(--code-inline-background-color);
	color: var(--code-text-color);
	margin: revert;
	padding: revert;

}


code {
	font-family: monospace;
	display: block;
	/*border: 5px solid black;*/
	background-color: var(--code-block-background-color);
	color: var(--code-text-color);
	margin-right: 10rem;
	padding: 2rem;
}

main a {
	color: var(--text-link-color);
}